{% load static %}

{% if page_obj.has_previous %}
    <a href="?page=1&{{query_string}}" class="action-btn"><img src="{% static 'svg/leftarrow2.svg' %}" alt=""></a>
    <a href="?page={{page_obj.previous_page_number}}&{{query_string}}" class="action-btn"><img src="{% static 'svg/leftarrow.svg' %}" alt=""></a>
{% endif %}

<span>Página <strong>{{page_obj.number}}</strong> de <strong>{{page_obj.paginator.num_pages}}</strong></span>

{% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}&{{query_string}}" class="action-btn"><img src="{% static 'svg/rightarrow.svg' %}" alt=""></a>
    <a href="?page={{page_obj.paginator.num_pages}}&{{query_string}}" class="action-btn"><img src="{% static 'svg/rightarrow2.svg' %}" alt=""></a>
{% endif %}

