{% extends "base.html" %}
{% load static %}

{% block title %}
    Gestión de Profesionales
{% endblock title %}

{% block estilos_personalizados %}
    <link rel="stylesheet" href="{% static 'styles/cards.css' %}">
{% endblock estilos_personalizados %}

{% block menus_navegacion %}
    {% include 'includes/topbar.html' %}
    {% include 'includes/sidebar.html' %}
{% endblock menus_navegacion %}

{% block content %}
    <main class="main-container">

        <nav class="breadcrumbs">
            <a href="{% url 'pantalla_principal' %}" class="link-color">Inicio</a>
            <span>›</span>
            <span>Profesionales</span>
        </nav>

        <nav class="welcome-header">
            <h1 class="main-title">Equipo Médico y Profesionales</h1>
            <p class="subtitle">Gestione el registro de matronas, médicos y técnicos del servicio.</p>
        </nav>

        <section class="cards-container">
            
            <div class="card">
                <a href="{% url 'profesionales:listar' %}" class="card-button">
                    <img alt="Listar Staff" src="{% static 'icons/profesionalesicon.png' %}" class="card-icon"/>
                    <h3 class="third-title">Ver equipo médico</h3>
                    <p class="subtitle">Consulte el listado de {{ profesionales_count|default:"personal" }} registrado.</p>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'profesionales:agregar' %}" class="card-button">
                    <img alt="Agregar Profesional" src="{% static 'icons/agregarprofesional.png' %}" class="card-icon"/>
                    <h3 class="third-title">Registrar Profesional</h3>
                    <p class="subtitle">Incorpore un nuevo integrante al equipo clínico.</p>
                </a>
            </div>

            <div class="card">
                <a href="#" class="card-button">
                    <img alt="Turnos" src="{% static 'icons/eyesicon.png' %}" class="card-icon"/>
                    <h3 class="third-title">Gestión de Turnos</h3>
                    <p class="subtitle">Próximamente</p>
                </a>
            </div>

        </section>
    </main>
{% endblock content %}