{% extends "base.html" %}
{% load static %}


{% block title %}
    Inicio Reportes
{% endblock title %}



{% block estilos_personalizados %}
    <link rel="stylesheet" href="{% static 'styles/cards.css' %}">
{% endblock estilos_personalizados %}



{% block menus_navegacion %}
    {% include 'includes/topbar.html' %}
    {% include 'includes/sidebar.html' %}
{% endblock menus_navegacion %}




{% block content %}
    <main class="main-container">

        <nav class="breadcrumbs">
            <a href="{% url 'pantalla_principal' %}" class="link-color">Inicio</a>
            <span>›</span>
            <span>Reportes y Estadísticas</span>
        </nav>

        <nav class="welcome-header">
            <h1 class="main-title">Generación de Reportes Clínicos</h1>
            <p class="subtitle">Genere, visualice y exporte estadísticas clave del servicio.</p>
        </nav>

    <section class="cards-container">
        <div class="card">
            <a href="{% url 'reportes:crear_reporte_caracteristicas_parto' %}" class="card-button">
                <img alt="Estadística Partos" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Características Parto</h3>
                <p class="subtitle">Detalle de características y tipos de parto.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_eutocico_distocico' %}" class="card-button">
                <img alt="Vía Parto" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Partos Eutócicos</h3>
                <p class="subtitle">Relación Eutócicos vs Distócicos.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_d1' %}" class="card-button">
                <img alt="Reporte REM" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Reporte REM D1</h3>
                <p class="subtitle">Estadística mensual D1 oficial.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_d2' %}" class="card-button">
                <img alt="Reporte REM" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Reporte REM D2</h3>
                <p class="subtitle">Estadística mensual D2 oficial.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_esterilizaciones_quirurgicas' %}" class="card-button">
                <img alt="Cirugía" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Esterilizaciones</h3>
                <p class="subtitle">Reporte de esterilizaciones quirúrgicas.</p>
            </a>
        </div>
        
        <div class="card">
            <a href="{% url 'reportes:crear_reporte_hepatitis_b' %}" class="card-button">
                <img alt="Vacunas" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Hepatitis B</h3>
                <p class="subtitle">Control y seguimiento de Hepatitis B.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_modelo_atencion' %}" class="card-button">
                <img alt="Atención" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Modelo Atención</h3>
                <p class="subtitle">Indicadores del modelo de atención integral.</p>
            </a>
        </div>

    </section>
    </main>
{% endblock content %}